<nav class="navbar navbar-expand-lg navbar-dark bg-danger fixed-top">
  <div class="container">
    <!-- Логотип -->
    <a class="navbar-brand d-flex align-items-center" href="/">
      <img src="{{ url_for('static', filename='encar_logo.png') }}" alt="Logo" height="40" class="me-2">
        Encar Россия
    </a>

    <!-- Кнопка для мобилок -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Разделы -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="/car-list/현대/1">Hyundai</a></li>
        <li class="nav-item"><a class="nav-link" href="/car-list/기아/1">Kia</a></li>
        <li class="nav-item"><a class="nav-link" href="/car-list/제네시스/1">Genesis</a></li>
        <li class="nav-item"><a class="nav-link" href="/car-list-foreign/BMW/1">BMW</a></li>
        <li class="nav-item"><a class="nav-link" href="/car-list-foreign/벤츠/1">Benz</a></li>
        <li class="nav-item"><a class="nav-link" href="/car-list-foreign/아우디/1">Audi</a></li>
      </ul>
    </div>
  </div>
</nav>
