<!-- sidebar.html -->
<nav class="sidebar bg-white border-end vh-100 position-fixed">
  <div class="p-3 overflow-auto text-center" style="height:100%;">

    <!-- Hyundai -->
    <h5 class="fw-bold">
      <a class="text-decoration-none text-dark d-block"
         data-bs-toggle="collapse"
         href="#hyundaiMenu"
         role="button"
         aria-expanded="false"
         aria-controls="hyundaiMenu">
        Hyundai
      </a>
    </h5>
    <ul class="collapse list-unstyled" id="hyundaiMenu">
      <li><a href="" class="text-decoration-none d-block">Avante</a></li>
      <li><a href="" class="text-decoration-none d-block">Sonata</a></li>
      <li><a href="" class="text-decoration-none d-block">Tucson</a></li>
    </ul>

    <!-- Kia -->
    <h5 class="fw-bold mt-4">
      <a class="text-decoration-none text-dark d-block"
         data-bs-toggle="collapse"
         href="#kiaMenu"
         role="button"
         aria-expanded="false"
         aria-controls="kiaMenu">
        Kia
      </a>
    </h5>
    <ul class="collapse list-unstyled" id="kiaMenu">
      <li><a href="" class="text-decoration-none d-block">K5</a></li>
      <li><a href="" class="text-decoration-none d-block">Sorento</a></li>
      <li><a href="" class="text-decoration-none d-block">Sportage</a></li>
    </ul>

    <!-- Genesis -->
    <h5 class="fw-bold mt-4">
      <a class="text-decoration-none text-dark d-block"
         data-bs-toggle="collapse"
         href="#genesisMenu"
         role="button"
         aria-expanded="false"
         aria-controls="genesisMenu">
        Genesis
      </a>
    </h5>
    <ul class="collapse list-unstyled" id="genesisMenu">
      <li><a href="" class="text-decoration-none d-block">G70</a></li>
      <li><a href="" class="text-decoration-none d-block">G80</a></li>
      <li><a href="" class="text-decoration-none d-block">GV80</a></li>
    </ul>

    <!-- BMW -->
    <h5 class="fw-bold mt-4">
      <a class="text-decoration-none text-dark d-block"
         data-bs-toggle="collapse"
         href="#bmwMenu"
         role="button"
         aria-expanded="false"
         aria-controls="bmwMenu">
        BMW
      </a>
    </h5>
    <ul class="collapse list-unstyled" id="bmwMenu">
      <li><a href="" class="text-decoration-none d-block">3 Series</a></li>
      <li><a href="" class="text-decoration-none d-block">5 Series</a></li>
      <li><a href="" class="text-decoration-none d-block">X5</a></li>
    </ul>

    <!-- Mercedes-Benz -->
    <h5 class="fw-bold mt-4">
      <a class="text-decoration-none text-dark d-block"
         data-bs-toggle="collapse"
         href="#mercedesMenu"
         role="button"
         aria-expanded="false"
         aria-controls="mercedesMenu">
        Mercedes-Benz
      </a>
    </h5>
    <ul class="collapse list-unstyled" id="mercedesMenu">
      <li><a href="" class="text-decoration-none d-block">C-Class</a></li>
      <li><a href="" class="text-decoration-none d-block">E-Class</a></li>
      <li><a href="" class="text-decoration-none d-block">GLC</a></li>
    </ul>

    <!-- Audi -->
    <h5 class="fw-bold mt-4">
      <a class="text-decoration-none text-dark d-block"
         data-bs-toggle="collapse"
         href="#audiMenu"
         role="button"
         aria-expanded="false"
         aria-controls="audiMenu">
        Audi
      </a>
    </h5>
    <ul class="collapse list-unstyled" id="audiMenu">
      <li><a href="" class="text-decoration-none d-block">A4</a></li>
      <li><a href="" class="text-decoration-none d-block">A6</a></li>
      <li><a href="" class="text-decoration-none d-block">Q7</a></li>
    </ul>

  </div>
</nav>
